@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");
:root {
  --main-color: #38b6ff;
  --sub-color-1: #176aaf;
  --sub-color-2: #1d37b0;
  --sub-color-3: #f4900c;
  --font-family-1: "Noto Sans JP", sans-serif;
  --font-family-2: "Noto Serif JP", serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FEFEFE;
  background: url(assets/svg/bg-top.svg), url(assets/svg/bg-bot.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: left top, left bottom;
}

a,
body {
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
}

.text-white {
  color: #fff;
}

.btn {
  border: 2px solid var(--sub-color-2);
  background: var(--sub-color-2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 100vw;
  text-decoration: none;
  display: block;
  transition: 0.6s linear;
  margin: 10px auto;
}

.btn:hover {
  background: var(--main-color);
  opacity: 0.8;
}

.btn.arrow {
  position: relative;
  margin-top: 70px;
}

.btn.arrow::after {
  content: "";
  display: block;
  width: 130px;
  aspect-ratio: 3/1;
  background: url(assets/images/arrow.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -50px;
  left: -100px;
  transform: scaleX(-1);
}

.sub-color-1 {
  color: var(--sub-color-1);
}
.sub-color-2 {
  color: var(--sub-color-2);
}

.sub-color-3 {
  color: var(--sub-color-3);
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-block {
  display: block;
}

.logo {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 100%;
  padding: 10px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

/* common */
.section_ttl {
  font-size: 22px;
}

.trainer-prof {
  background: var(--main-color);
  color: #fff;
  padding: 20px 40px 50px 60px;
  border-radius: 20px;
  position: relative;
  margin-left: 80px;
}

.vidbox {
  position: absolute;
  max-width: 190px;
}

/* kaori image */
.koari-imgbox {
  display: block;
  max-width: 300px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  margin-left: 100px;
}

.koari-imgbox::before {
  content: "";
  display: block;
  width: 800px;
  height: 80px;
  background: var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 100vw;
}

.koari-imgbox.no-line::before {
  display: none;
}

.koari-imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_focus {
  margin: 0 auto;
  margin-bottom: 60px;
}

.main_focus p {
  font-size: 40px;
  width: fit-content;
  color: var(--sub-color-2);
  margin: 0 auto;
}

.main_focus ~ small {
  display: block;
  margin-bottom: 8px;
}

/* col--1 */
table {
  width: 100%;
  padding: 8px;
}

table tr td {
  text-align: center;
  padding: 4px;
}

table tr td:first-child {
  text-align: left;
}

/* col--2 */
.col--2 .wrapper {
  background-size: 100% auto;
  padding-top: 15px;
}

.circle-accent {
  max-width: 300px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

.circle-accent img {

  aspect-ratio: 1 / 1;
  border-radius: 100%;
}

.circle-accent::before {
  content: "";
  display: block;
  width: 90%;
  height: 90%;
  background: var(--main-color);
  border-radius: 100%;
}

.circle-accent.top::before {
  position: absolute;
  top: 5px;
  left: -50px;
  z-index: -1;
}

.circle-accent.right::before {
  position: absolute;
  bottom: 0;
  right: -20px;
  z-index: -1;
  width: 100%;
  height: 102%;
}

.circle-accent.left::before {
  position: absolute;
  left: -20px;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}


.circle-accent.bottom::before {
  position: absolute;
  left: -10px;
  bottom: -30px;
  z-index: -1;
}

.vidbox {
  aspect-ratio: 1/1;
  max-width: 400px;
  margin-left: 15%;
}

.vidbox--2 {
  margin: 0 auto;
}

.vidbox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
.media-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
/* faq */

.faq {
  text-align: center;
}

.faq dl {
  margin-bottom: 16px;
}


/* new */
.video_container button {
  background: none;
  opacity: 0;
  transition: 0.6s;
}

.video_container:hover button {
  opacity: 1;
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button */
}

.video_container {
  position: relative;
}

.video_container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.video_container .fa-solid {
  color: #fff;
  font-size: 40px;
}

/* new start */

ul {
  list-style: none;
}

ul li.item-ast {
  padding-left: 35px;
  position: relative;
}

ul li.item-ast::before {
  position: absolute;
  left: 0;
  top: 0;
}

ul li.item-ast:nth-child(1)::before {
  content: "※1";
}

ul li.item-ast:nth-child(2)::before {
  content: "※2";
}

ul li.item-ast:nth-child(3)::before {
  content: "※3";
}

.row {
  display: flex;
  gap: 30px;
}

.row.align-start {
  align-items: flex-start;
}

.row.align-center {
  align-items: center;
}

.row.align-end {
  align-items: flex-end;
}

.row.justify-start {
  justify-content: flex-start;
}

.row.justify-center {
  justify-content: center;
}

.row.justify-end {
  justify-content: flex-end;
}

.row .col {
  width: 50%;
}

.text-center {
  text-align: center;
}

.text-orange {
  color: orange;
}

.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}
.fs-34 {
  font-size: 34px;
}
.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px;
}

.fs-50 {
  font-size: 50px;
}

.fs-60 {
  font-size: 60px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-auto {
  margin-right: auto;
}

.pl-20 {
  padding-left: 20px;
}

.w-fit {
  width: fit-content;
}

.d-block {
  display: block;
}

.max-w-100 {
  max-width: 100px;
}

.max-w-150 {
  max-width: 150px;
}
.max-w-200 {
  max-width: 200px;
}
.max-w-250 {
  max-width: 250px;
}
.max-w-300 {
  max-width: 300px;
}
.max-w-350 {
  max-width: 350px;
}

.max-w-400 {
  max-width: 400px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

section {
  margin: 60px auto;
  padding: 0 3%;
}

.blue-bg {
  background: var(--main-color);
  border-radius: 20px;
  padding: 40px;
  padding-left: 60px;
}

/* trainer profile start */

.trainer-profile {
  margin-bottom: 100px;
}

.trainer-profile .col--1 .row {
  align-items: flex-end;
  justify-content: center;
}

.trainer-profile .col--1 dt {
  position: relative;
  right: -70px;
  bottom: -100px;
  z-index: 1;
}

.trainer-profile .col--1 dd {
  position: relative;
  width: 80%;
}

.blue-border {
  border: 30px solid var(--main-color);
  border-radius: 100%;
}
/* trainer profile end */

.promo-bg {
  background: url(assets/images/promo-blue.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 80px;
  aspect-ratio: 8/5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  max-width: 700px;
  margin: 0 auto;
}
/* new end */

@media (max-width: 1800px) {

  .blue-bg {
    padding: 20px;
    padding-left: 50px;
  }
}

@media (max-width: 1700px) {

  body {
    background: url(assets/svg/bg-top.svg), url(assets/svg/bg-bot.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 150%, 170%;
    background-position: center top, center bottom;
  }

  section .content {
    max-width: 1000px;
    margin: 0 auto;
  }

 .row {
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .row .col {
  width: 100%;
 }

 .trainer-profile {
  margin-bottom: 60px;
 }

 .trainer-profile .col--1 dt {
  margin: 0 auto;
  left: 0;
  bottom: -30px;
 }

 .trainer-profile .col--1 dd {
  position: relative;
  top: -30px;
  width: 100%;
  padding: 20px;
  padding-top: 60px;
  width: fit-content;
  margin: 0 auto;
 }

 .text-md-center {
  text-align: center;
 }
}

@media (max-width: 1000px) {
  .trainer-profile .col--1 dd br {
    display: none;
  }
}

@media (max-width: 800px) {
  .promo-bg {
    padding: 80px;
    padding-right: 95px;
    font-size: 24px;
  }

}

@media (max-width: 700px) {
  .promo-bg.fs-26 {
    font-size: 22px;
    padding-right: 95px;
    text-align: center;
  }
}

@media (max-width: 600px) {

  h1.text-center, h2, .text-center.sp, .text-md-center.sp {
    text-align: center;
  }

  .fs-26 {
    font-size: 24px;
  }

  .fs-36 {
    font-size: 28px;
  }

  .fs-22 {
    font-size: 18px;
  }

  .fs-20 {
    font-size: 16px;
  }

  h2 .text-right {
    text-align: unset;
  }

  .text-center,.text-md-center {
    text-align: left;
  }

  .text-center .btn{
    text-align: center;
  }

  .promo-bg.fs-26 {
    font-size: 18px;
    padding-right: 95px;
    text-align: center;
  }

  .faq dl dt {
    position: relative;
    padding-left: 10px;
  }

  .faq dl dt::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 100%;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 10px;
  }

  .faq dl dd {
    padding-left: 20px;
  }
}

@media (max-width: 430px) { 
  br.pc {
    display: none;
  }

  .promo-bg {
    font-size: 16px;
  }

  table {
    font-size: 15px;
  }
}

@media (max-width: 400px) {

  /* h1.text-center, h2 {
    text-align: left;
  } */

  .promo-bg {
    font-size: 14px;
  }

}

