@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #38b6ff;
  --sub-color-1: #1631af;
  --sub-color-2: #5271ff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #f2e9e0;
}

body {
  background: url(assets/images/dots.png), url(assets/images/accent1.png), url(assets/images/circles.png), url(assets/images/dots.png);
  background-color: #d1f2fd;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 10%, 25%, 25%, 10%;
  background-position: 0 0, 120% 15%, -2% 110%, 100% 100%;
  color: var(--sub-color-1);
  padding-bottom: 30px;
}

a,
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

ul {
  padding-left: 16px;
}

.section-m-y {
  margin: 40px 0;
}

.section-bg-y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-p-x {
  padding-left: 3%;
  padding-right: 3%;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.f-28 {
  font-size: 28px;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-8 {
  margin-bottom: 8px;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.btn {
  color: #fff;
  background: var(--sub-color-2);
  padding: 10px 20px;
  border-radius: 100vw;
  text-decoration: none;
  display: block;
}

.btn.arrow {
  position: relative;
}

.btn.arrow::after {
  content: "";
  display: block;
  width: 200px;
  aspect-ratio: 3/1;
  background: url(assets/images/arrow.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -55px;
  right: -180px;
}

/* .section-container {
  max-width: 1500px;
  margin: 0 auto;
} */

.text-center {
  text-align: center;
}

.flex-wrap.row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.flex-wrap.row .logo,
.flex-wrap.row .lead_desc {
  width: 50%;
}

.flex-wrap.row .logo {
  text-align: center;
}

.flex-wrap.row .logo img {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

/* lead */

.lead {
  width: 50%;
  position: relative;
  color: #fff;
  margin-left: auto;
  background: var(--sub-color-1);
  border-bottom-left-radius: 150px;
  line-height: 1.25;
  margin-bottom: 30px;
}

.lead_ttl {
  font-family: "Fredoka", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.lead_desc {
  padding-left: 10%;
}

.lead_desc p {
  width: fit-content;
}

/* main content */
.main-content {
  overflow: hidden;
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.main-content .col {
  width: 50%;
}

.notes p {
  position: relative;
  padding-left: 20px;
}

.notes p::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}

/* kaori image */
.koari-imgbox {
  display: block;
  max-width: 300px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  margin-left: 100px;
}

.koari-imgbox::before {
  content: "";
  display: block;
  width: 800px;
  height: 80px;
  background: var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 100vw;
}

.koari-imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.main-focus {
  margin-bottom: 8px;
}

.main-focus ~ small {
  display: block;
  margin-bottom: 8px;
}

/* col--1 */
table {
  width: 100%;
  border: 1px solid var(--sub-color-1);
  padding: 8px;
  border-collapse: collapse;
}

table tr td {
  text-align: center;
  padding: 4px;
}

table tr th,
table tr td {
  border: 1px solid var(--sub-color-1);
}

/* col--2 */
.col--2 .wrapper {
  background-size: 100% auto;
}

.col--2 .wrapper .textbox {
  max-width: 700px;
  margin: 0 auto;
  background: url(assets/images/text-bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 50px 36px 62px 35px;
  margin-top: -50px;
  aspect-ratio: 4/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle-accent {
  position: relative;
  z-index: 1;
}

.circle-accent::before {
  content: "";
  display: block;
  width: 90%;
  height: 90%;
  background: var(--main-color);
  border-radius: 100%;
}

.circle-accent.top::before {
  position: absolute;
  top: 5px;
  left: -50px;
  z-index: -1;
}

.circle-accent.bottom::before {
  position: absolute;
  left: -10px;
  bottom: -30px;
  z-index: -1;
}

.vidbox {
  aspect-ratio: 1/1;
  max-width: 400px;
  margin-left: 15%;
}

.vidbox--2 {
  margin: 0 auto;
}

.vidbox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -18px;
  border-radius: 100%;
}

/* faq */

.faq {
  text-align: center;
  margin-top: -50px;
}

.faq .desc {
  margin-bottom: 16px;
}

.faq .btn {
  padding: 15px 20px;
  display: block;
  max-width: fit-content;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  body {
    background: url(assets/images/dots.png), url(assets/images/accent1.png), url(assets/images/circles.png), url(assets/images/dots.png);
    background-color: #d1f2fd;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 10%, 45%, 350px, 10%;
    background-position: 0 0, 157% 6%, -2% 108%, 105% 100%;
  }

  .lead {
    width: 60%;
  }

  .lead_ttl {
    font-size: 55px;
  }
}

@media (max-width: 1100px) {
  .lead {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  body {
    background: url(assets/images/dots.png), url(assets/images/accent1.png), url(assets/images/circles.png), url(assets/images/dots.png);
    background-color: #d1f2fd;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 10%, 25%, 350px, 10%;
    background-position: 0 0, 120% 15%, -2% 108%, 105% 100%;
  }

  .lead_desc {
    padding-left: 0;
  }

  .btn.arrow::after {
    display: none;
  }
}

/* @media (max-width: 900px) {
  .lead {
    width: 90%;
  }

  .lead_ttl {
    font-size: 50px;
  }
} */

@media (max-width: 900px) {
  .lead {
    width: 90%;
  }

  .lead_ttl {
    font-size: 50px;
  }

  .flex-wrap.row {
    flex-direction: column;
  }

  .flex-wrap.row .logo img {
    max-width: 200px;
  }

  .flex-wrap.row .logo,
  .flex-wrap.row .lead_desc {
    width: 100%;
  }

  .flex-wrap.row .lead_desc br {
    display: none;
  }

  .main-content {
    flex-direction: column;
    padding-bottom: 65px;
    margin-bottom: 60px;
  }

  .main-content .col {
    width: 100%;
  }

  .main-focus,
  .main-focus ~ small {
    text-align: center;
  }

  .profile {
    display: flex;
    flex-direction: column-reverse;
  }

  .koari-imgbox {
    max-width: unset;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: unset;
    text-align: center;
  }

  .koari-imgbox img {
    width: 100%;
    height: unset;
    max-width: 300px;
    aspect-ratio: 1/1;
  }

  .koari-imgbox::before {
    width: 100%;
    left: -100px;
    bottom: -15px;
  }

  .vidbox {
    margin: 0 auto;
    max-width: 300px;
  }

  .col--2 .wrapper .textbox {
    padding: 64px 47px 50px 42px;
  }
}

@media (max-width: 768px) {
  .lead_ttl {
    font-size: 40px;
  }

  .f-28 {
    font-size: 24px;
  }

  .f-24 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .lead_ttl {
    font-size: 30px;
  }

  .circle-accent.top::before {
    left: -31px;
  }

  .circle-accent.bottom::before {
    bottom: -12px;
  }
}

@media (max-width: 450px) {
  .lead {
    width: 95%;
  }

  .lead_ttl {
    padding-left: 58px;
  }

  table {
    border: none;
  }

  table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid var(--sub-color-1);
  }
  table tr:first-child,
  table tr th {
    display: none;
  }

  table tr td {
    position: relative;
    padding: 0;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
  }

  table tr td.partner::before {
    content: "Partner";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 85px;
    height: 100%;
    padding: 0 6px;
    border-right: 2px solid var(--sub-color-1);
  }

  table tr td.member::before {
    content: "Member";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 85px;
    height: 100%;
    padding: 0 6px;
    border-right: 2px solid var(--sub-color-1);
  }
}

@media (max-width: 350px) {
  .lead_desc p,
  .text-center,
  .main-focus,
  .main-focus ~ small,
  .col--2 .wrapper .textbox,
  .faq .desc {
    text-align: left;
  }

  .lead_desc p br,
  .text-center br,
  .main-focus br,
  .main-focus ~ small br,
  .col--2 .wrapper .textbox br,
  .faq .desc br {
    display: none;
  }
}
